{% extends 'base.html' %}
{% block content %}
<div class="max-w-7xl mx-auto px-4 py-10 xyz-in fade-down" xyz="fade down duration-10 ease-out">

    <h2 class="text-2xl font-bold text-blue-600 mb-6 flex items-center gap-2">
        <span class="material-symbols-outlined">calendar_month</span> Listado de Citas Médicas
          {% if   session.usuario %}, <strong>{{ session.usuario }}</strong>{% endif %}.
    </h2>

    {% if citas %}
    <div class="overflow-x-auto shadow border border-gray-200 rounded-lg">
        <table class="min-w-full text-sm text-left text-gray-700 bg-white">
            <thead class="bg-blue-50 text-blue-800 font-semibold">
                <tr>
                    <th class="px-4 py-3">ID</th>
                    <th class="px-4 py-3">Paciente</th>
                    <th class="px-4 py-3">Médico</th>
                    <th class="px-4 py-3">Fecha y Hora</th>
                    <th class="px-4 py-3">Estado</th>
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
                {% for c in citas if c.medico_id == session.medico_id %}
                <tr class="hover:bg-gray-50 transition">
                    <td class="px-4 py-2"> {{ c.id_cita }}</td>
                    <td class="px-4 py-2">{{ c.paciente.nombre }}</td>
                    <td class="px-4 py-2">{{ c.medico.nombre }}</td>
                    <td class="px-4 py-2">{{ c.fecha_hora.strftime('%d/%m/%Y %H:%M') }}</td>
                    <td class="px-4 py-2">
                        <span class="inline-block px-2 py-1 rounded-full text-xs font-semibold
                            {% if c.estado == 'confirmada' %}
                                bg-green-100 text-green-700
                            {% elif c.estado == 'pendiente' %}
                                bg-yellow-100 text-yellow-800
                            {% elif c.estado == 'cancelada' %}
                                bg-red-100 text-red-700
                            {% else %}
                                bg-gray-100 text-gray-700
                            {% endif %}">
                            {{ c.estado.capitalize() }}
                        </span>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="text-center text-gray-500 mt-6">
        <span class="material-symbols-outlined text-5xl mb-2">event_busy</span>
        <p class="text-lg">No hay citas registradas actualmente.</p>
    </div>
    {% endif %}

</div>
{% endblock %}
